* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #333333;
}

body{
  padding-bottom:65px;
}

#header {
  z-index:100;
  display: flex; display: -webkit-flex;
  flex-direction: row; -webkit-flex-direction: row;
  flex-wrap: nowrap; -webkit-flex-wrap: nowrap;
  justify-content: space-between; -webkit-justify-content: space-between;
  align-items: center; -webkit-align-items: center;
  background-color: #ffffff;
  border-top: 1px solid #bfbfbf;
  top: 0;
  position: fixed;
  width: 100%;
}

#logos img{
  height: 50px;
}
#menu {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#menu.active {
  max-height: 306px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#menu ul {
  list-style-type: none;
}
#menu li {
  display: inline;
}
#menu ul li a {
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color:#555;
  padding: 20px 30px;
  font-size:0.9em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#menu ul li a:hover{
  background-color:#E20746;
  color:#fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
