* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'ubuntu', sans-serif;
  background-image: url(../img/fond.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.icon-bar {
  background-color: #222;
}

.col-centered {
  float: none;
  margin: auto;
}

.txt-col {
  color: #DF3163;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

#navigation {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.navbar-header {
  width: 100%;
  text-align: center;
}

#logos {
  text-align: left;
  float: left;
  padding: 10px 50px;
}
#logos img{
  margin: 10px;
}
#logos:last-child{
  padding-top:15px;
}
button {
  background-color: #DF3163;
  height: 40px;
  padding: 10px;
  margin-top: 30px;
  border: inherit;
  font-weight: bold;
  color: #fff;
}

#bs-example-navbar-collapse-1 {
  float: right;
  padding:0 10px;
}

#bs-example-navbar-collapse-1  ul {
  list-style-type: none;
  margin: 30px auto;
}

#bs-example-navbar-collapse-1 li {
  display: inline;
  line-height: 80px;
}

#bs-example-navbar-collapse-1 ul li a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #333;
  padding: 10px;
  font-size: 1em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#bs-example-navbar-collapse-1  ul li a:hover {
  color: #DF3163;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#intro {
  height: 700px;
  width: 100%;
  text-align: center;
  color: #fff;
}

#intro img {
  width: 100%;
}

#slogan {
  height: 500px;
  background-color: rgb(223, 49, 99);
}

#date {
  height: 500px;
  padding: 155px;
}

.titre {
  text-align: center;
  margin: 100px auto;
  padding: 50px;
  background-color: rgba(0,0,0,0.5);
}

.titre h1, #titre h2 {
  font-weight: bold;
  font-size: 5em;
  text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
}

.titre h2 {
  font-size: 3em;
  color: #fff;
  padding: 20px;
  border-radius: 20%;
  background-color: rgba(0,0,0,.15);
}

.titre h3 {
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
}
#encart{
  width: 100%;
  height:40px;
  text-align: center;
  background-color: #DF3163;
}
#encart span{
  text-align: inherit;
  color: #fff;
  font-size: 1.5em;
  line-height: 40px;
}
#citation{
  position: relative;
}
#citation span{
  position: absolute;
  right: 0;
}
#encart img{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.34);
}
#quoi, #participer{
  height: auto;
  padding: 100px 0;
  text-align: center;
  background-color: #fff;
}

#quoi img {
  padding: 5px;
  float: right;
}

#quoi p, #participer p {
  text-align: left;
  padding: 20px 20px 0 20px;
  font-size: 1.5em;
  color: #999;
}

#quoi hr, #participer hr {
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
}
